<h2>Join the discussion!</h2>
<p>Click the button below to start a new thread:</p>
<p>
  <p><%= link_to 'new comment!', new_comment_path(@listing.comment_root), class: 'btn btn-primary btn-lg' %></p>
</p>

<%= comments_tree_for @comments %>