<center><h1>About Us</h1></center>

<center><h2>What's GadgetBite</h2></center>
<p>GadgetBite is a website that helps people to share gadgets (like Occulus, Leap Motion, etc...)
If you have spare gadgets, list them on GadgetBite and rent them to others.
If you want to have hands-on experience some cool gadget without actually buying it, get it via us.</p>

<table border="1" style="width:250">
	<tr>
		<td>
	<%= image_tag "teammates/yichen.jpg", :size => '250'%>
		</td>
		<td>
	<%= image_tag "teammates/mi.jpg", :size => '250'%>
		</td>
		<td>
	<%= image_tag "teammates/tom.jpg", :size => '250'%>
		</td>
		<td>
	<%= image_tag "teammates/claire.jpg", :size => '250'%>
		</td>
	</tr>

<center><h2>Team Members</h2></center>
	<tr>
		<td>
	<center>Yichen Pan</center>
		</td>
		<td>
	<center>Yueyang Mi</center>
		</td>
		<td>
	<center>Tom Zhou</center>
		</td>
		<td>
	<center>Lingyu Zhang</center>
		</td>
	</tr>
</table>