<p id="notice"><%= notice %></p>

<h1>Order request</h1>

<script>
  function update_status_div(status) {  
    //console.log("wow");
  jQuery.ajax({
    url: "index_with_status",
    type: "GET",
    data: {"status" : status},
    dataType: "html",
    success: function(data) {
      //console.log("aha");
      jQuery("#ordersDiv").html(data);
    }
  });
}
</script>

<%= select_tag 'status', options_for_select(["All", "Accepted", "Denied", "Processing"], "All"), 
:onchange => "update_status_div(this.value)" %>

<div id="ordersDiv">
  <%= render 'index' %>
</div>

<br>

<%= link_to 'New Order', new_order_path %>
