<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>



<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Status</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render 'index' %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
