<h1>Editing Product Photo</h1>

<%= render 'form' %>

<%= link_to 'Back', listing_path(params[:listing]) %>
<%= link_to 'Destroy', product_photo_path, method: :delete, data: { confirm: 'Are you sure?' } %>